{% extends 'base.html' %}
{% block title %}<title>Graph</title>{% endblock %}
{% block content %}
{% include 'dashboard/navbar.html' %}
{% comment %} <body style="font-family:'Helvetica Neue', Arial; font-size: 16px;"> {% endcomment %}
<div>
    <h3 class="d-flex justify-content-center mt-3">{{ chartTitle|safe }}</h3>
    <div id="chart-1">{{ output|safe }}</div>
</div>
{% include 'dashboard/footer.html' %}
{% endblock %}