{% extends 'base.html' %}
{% block title %}<title>GoComet</title>{% endblock title %}
{% block content %}
{% include 'dashboard/navbar.html' %}
<div id="carouselExampleSlidesOnly" class="carousel slide mt-3 mb-5" data-bs-ride="carousel">
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img src="https://www.gocomet.com/website/static/pages/index/banner.webp" class="d-block w-100" alt="...">
      </div>
    </div>
</div>

{% include 'dashboard/footer.html' %}
{% endblock content %}