{% extends 'base.html' %}
{% load humanize %} 
{% block title %}<title>Database List</title>{% endblock title %}
{% block content %}
{% include 'dashboard/navbar.html' %}
<div>
    <div class="card ms-5 mt-5 mb-5 me-5">
        <div class="card-header">
          Search Tags
        </div>
        <div class="card-body">
            <form class="form-inline" method="get">
                <div class="col-sm-5">
                    <input id="search" type="text" name="search" class="form-inline" placeholder="Search" value="{{request.GET.search}}">
                    <button type="submit" class="btn btn-primary btn-sm" onclick="searchTag()">Search</button>
                    <a href="{{request.path}}" class="btn btn-primary btn-sm">Reset</a>
                </div>
            </form>
        </div>
      </div>
</div>
<div class="ms-5 me-5 table-responsive">
    <div class="d-flex justify-content-end mb-2">
        <a href="{% url 'export-csv' %}" class="btn btn-primary btn-sm me-2">Export to CSV</a>
        <a href="{% url 'angular-gauge' %}" class="btn btn-secondary btn-sm">Graph</a>
    </div>
    <table class="table table-bordered">
        <thead>
            <tr>
                <th>Sr. No</th>
                <th>Title</th>
                <th>Tags</th>
                <th>Details</th>
                <th>Author</th>
                <th>Minutes to read</th>
                <th>URL</th>
                <th>Created Date</th>
            </tr>
        </thead>
        <tbody>
            {% for row in object_list %}
            <tr>
                <td>{{ forloop.counter }}</td>
                <td>{{ row.title_text }}</td>
                <td>{{ row.article_tags }}</td>
                <td>{{ row.article_paragraph }}</td>
                <td>{{ row.autor_list }}</td>
                <td>{{ row.minite_read }}</td>
                <td><a href="{{ row.article_url }}">Click here</a></td>
                <td>{{ row.date_created|naturalday }}</td>
            </tr>
            {% empty %}
                <tr>
                    <td colspan="7">No record found.</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
    <div class="pagination float-end" >
        <span class="step-links">
            {% if page_obj.has_previous %}
                <a class="btn btn-primary" href="?page=1">&laquo; first</a>
                <a class="btn btn-primary" href="?page={{ page_obj.previous_page_number }}">previous</a>
            {% endif %}
    
            <span class="current">
                Page    {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
            </span>
    
            {% if page_obj.has_next %}
                <a class="btn btn-primary" href="?page={{ page_obj.next_page_number }}">next</a>
                <a class="btn btn-primary" href="?page={{ page_obj.paginator.num_pages }}">last &raquo;</a>
            {% endif %}
        </span>
    </div>
</div>
{% include 'dashboard/footer.html' %}
{% endblock content %}