{% extends 'base.html' %}
{% block title %}<title>Search Tags</title>{% endblock title %}
{% block content %}
{% include 'dashboard/navbar.html' %}
<div>
    <div class="card ms-5 mt-5 mb-5 me-5">
        <div class="card-header">
          Search Tags
        </div>
        <div class="card-body">
            <form class="form-inline" method="get">
                <div class="col-sm-5">
                    <input id="search_value" type="text" name="search" class="form-inline" placeholder="Search" value="{{request.GET.search}}">
                    <button id="search" type="button" class="btn btn-primary btn-sm" onclick="myFunction()">Search</button>
                    <a href="{{request.path}}" class="btn btn-primary btn-sm">Reset</a>
                </div>
            </form>
            {% comment %} <div class="form-group d-flex justify-content-end">
                <div class="col-xs-2">
                    <select id="chosen_a" class="form-control" style="width:auto;">
                    <option>Select tag</option>
                    {% for tag in tags %}
                        <option value="{{tag.id}}">{{tag.article_tags}}</option>
                    {% endfor %}
                        <option>Short</option>
                    </select>
                </div>
            </div> {% endcomment %}
        </div>
      </div>
</div>
<div class="ms-5 me-5 table-responsive">
    <table class="table table-bordered">
        <thead>
            <tr>
                <th>Sr. No</th>
                <th>Title</th>
                <th>Tags</th>
                <th>Details</th>
                <th>Author</th>
                <th>Minutes to read</th>
                <th>URL</th>
            </tr>
        </thead>
        <tbody id="item-tbody">

        </tbody>
    </table>
</div>
<div id="visiblex" class="text-center">
    <div class="spinner-border spinner-border-sm" role="status">
        <span class="visually-hidden">Loading...</span>
      </div>
      <div class="spinner-grow spinner-grow-sm" role="status">
        <span class="visually-hidden">Loading...</span>
      </div>
</div>
<script>
    $( function() {
        var availableTags = [
            {% for tag in tags %}
                "{{tag.article_tags}}",
            {% endfor %}
        ];
        console.log(availableTags);
        $("#search_value").autocomplete({
          source: availableTags
        });
      } );
</script>
<script>
    function myFunction() {
        search_value = document.getElementById("search_value").value;
        element = document.getElementById("visiblex");
        var data = {
            "search_value": search_value,
        }
        $.ajax({
            type: "POST",
            url: "{% url 'search-ajax' %}",
            data: data,
            success: function(output) {
                $('#item-tbody').append(output);
            },
            complete: function(){
                element.classList.add("invisible");
            }
        });
    }
</script>
{% include 'dashboard/footer.html' %}
{% endblock content %}