{% extends 'base.html' %}
{% block title %}<title>Change Password Done</title>{% endblock %}
{% block content %}
<div class="card text-white bg-success overflow-hidden mt-5">
    <div class="card-body">
        <div class="toll-free-box text-center">
            <h4> <em class="mdi mdi-form-textbox-password"></em> Please check your mail box.</h4>
        </div>
    </div>
</div>
<div class="text-center mt-5">
    <a href="{% url 'user-login' %}" class="btn btn-primary">Please Login</a> <!-- end card-body-->
</div>

{% endblock %}
