<nav class="navbar navbar-light bg-light">
    <div class="container">
      <a class="navbar-brand" href="{% url 'dashbaord-view' %}">
        <img src="https://www.gocomet.com/website/static/images/logo/logo-dark.png" alt="" width="200" height="40">
      </a>
      <div class="text-right">
        <a href="{% url 'search-medium-tag' %}" class="btn btn-primary btn-sm">Search Tags</a>
      {% if user.is_authenticated %}
        <a href="{% url 'logout' %}" class="btn btn-primary btn-sm">Logout</a>
      {% else %}
        <a href="{% url 'user-login' %}" class="btn btn-primary btn-sm">Login</a>
      {% endif %}
      </div>
    </div>
  </nav>